[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=zen_picker
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=zen_picker
Comment=Chill color picker
